* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}
body {
	font-family: Arial, sans-serif;
	letter-spacing: 0.2px;
}
input:focus {
	outline: none;
}
button:focus { 
	outline: none;
}
h1 {
	text-align: center;
	margin-top: 2rem;
	text-transform: uppercase;
	font-size: 2rem;
}
.info-src {
	text-align: center;
}
.form-main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}

.form-container {
	height: 20%;
	width: 65%;
}

.form-top {
	height: 10rem;
	line-height: 10rem;
	text-align: center;	
	background-color: #D0D0D0;
}
.text-area {
	width: 25rem;
	height: 3rem;
	padding-left: 1.5rem;
}
button {
  display: inline-block;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-left: 2rem;
  color: #000;
  height: 3rem;
	width: 10rem;
	font-weight: bold;
	font-size: 	1.2rem;
	 border: none;
    outline:none;
}
.form-bottom {
	background-color: #fff;
	border: solid #D0D0D0;
	padding: 0 1rem;
}
.joke-paragraph {
	background-image: url(https://assets.chucknorris.host/img/avatar/chuck-norris.png);
	background-position: center left;
	background-repeat: no-repeat;
	-webkit-background-size: 2rem;
	background-size: 3rem;
	padding: 2rem 0 2rem 4rem;
	font-size: 1.5rem;	
}

@media (min-width: 481px) and (max-width: 768px) {

	html {
		font-size: 9px;
	}
	.form-container {
		width: 75%;
	}
	.form-top {
		height: 15rem;
		line-height: 5rem;
		
	}
	.text-area {
		margin-top: 3rem;	
	}
	button {
	  display: block;
	  margin-top: 1rem;	
	  margin-left: 50%;	
	  -webkit-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
 }
}

@media (max-width: 480px) {
	html {
	 	font-size: 	9px;
	 }
	.form-top {
		height: 13rem;
		line-height: 5rem;
		
	}
	.text-area {
		margin-top: 3rem;	
	}
	.form-container {
		height: 20%;
		width: 90%;
	}
	.joke-paragraph {
		font-size: 1rem;	
	}
	button {
	  display: block;
	  margin-left: 50%;	
	  -webkit-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	 }
}
